# Set the default behavior, in case people don't have core.autocrlf set.
# * text=auto
#MSG Set to always be lf regardless of windows or linux
* text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.xls binary
*.ico binary
*.ai binary
*.odg binary
*.pdf binary
*.doc* binary