body {
    background-color:#f2f2f2;
}

.invisible {visibility:hidden;}
.visible {visibility:visible;}

/* All the following lines were just me playing with different looks and can be deleted (Matt) */
.userProfileBlock {
    font-size: 8px;
    line-height: 1;
}

.userProfileBlock .form-group {
    margin-top: 4px;
    margin-bottom: 4px;
}

.form-control {
    padding: 3px;
    height: 20px;
    font-size: 8px;
}

#messageArea {color: red;}

.adminMain {
    background-color: white;
}

.adminMain textarea {width: 300px;}

.timeClock {
    display: block;
    height: 80px;
    margin: 4px;
    padding-top: 35px;
    font-size: 24px;
    color: green;
    line-height: 13px;
    background: url("/images/timeclock.jpg") no-repeat;
}
.timeClock > span {
}
.tasksForm .taskLevelZero {
    font-size: larger;
}
.tasksForm .taskLevelOne {
    margin-left: 10px;
}
.formDisabled div {
    background-color: #cccccc;
}
.formDisabled input:disabled {
    background-color: #cccccc;
    border: none;
}

.tableBadges tr {
    height: 150px;
}

.tableBadges tr td {
    width: 33%;
    text-align: center;
}

.tableBadges tr td img {
    width: 100%;
}
