body {
    background-color:white;
}

.invisible {visibility:hidden;}
.visible {visibility:visible;}

#messageArea {color: red;}

.timeClock {
    display: block;
    height: 80px;
    margin: 4px;
    padding-top: 35px;
    font-size: 24px;
    color: green;
    line-height: 13px;
    background: url("/images/timeclock.jpg") no-repeat;
}
.timeClock > span {
}
.tasksForm .taskLevelZero {
    font-size: larger;
}
.tasksForm .taskLevelOne {
    margin-left: 10px;
}
.formDisabled div {
    background-color: #cccccc;
}
.formDisabled input:disabled {
    background-color: #cccccc;
    border: none;
}

.tableBadges tr {
    height: 150px;
}

.tableBadges tr td {
    width: 33%;
    text-align: center;
}

.tableBadges tr td img {
    width: 100%;
}
