/*
Document:template
Createdon:Aug15,2013,11:03:57AM
Author:user
Description:
Purposeofthestylesheetfollows.
*/

@media screen and (max-width: 400px) {}
@media (max-width: 767px) {}
@media (min-width: 768px) {}
@media (min-width: 768px) and (max-width: 991px) {}
@media screen and (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 1200px) {}
@media print {}